/* Do not change this file for this exercise*/

.card {
    border: solid;
    margin: 10px;
    box-shadow: 3px 3px lightgray;
    width: 175px;
}

.task-status {
    border-radius: 10px;
    text-align: center;
    min-width: 4em;
    height: 1em;
}

.task-form-row {
    display: flex;
}

.left-side {
    flex: 90%;
}

.right-side {
    flex: 10%;
}

div {
    padding: 5px;
}

.todo {
    background-color: red;
}

.doing {
    background-color: yellow;
}

.done {
    background-color: green;
}





/* .row {
    display: flex;
    border-bottom: solid gray;
}

div {
    padding: 5px;
}

.task-description {
    flex: 90%;
}

.task-status {
    border-radius: 10px;
    flex: 10%; 
    text-align: center;
    min-width: 4em;
    height: 1em;
}

.todo {
    background-color: red;
}

.doing {
    background-color: yellow;
}

.done {
    background-color: green;
} */